<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>show page</h1>
    <a href="/">Back</a><br/>
    name: <%=albums.name%><br/>
    title: <%=albums.title%><br/>
    description: <%=albums.description%><br/>
    <img src="<%=albums.img%>"><br/>
    link: <a href="<%=albums.link%>">Link to album</a>
  </body>
</html>
